$white: #fff;
$light-gray: hsl(0, 0%, 85%);
$green: #1db954;
$gray: #333333;
* {
  margin: 0;
  padding: 0;
}
.home {
  background: linear-gradient(rgba(91, 87, 115), rgba(0, 0, 0, 1));
  height: 100vh;
  .top-bar {
    width: 100vw;
    .img-name-wrapper {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1em 1em;
      img {
        border-radius: 10em;
        height: 3em;
        margin-right: 1em;
      }
      h4 {
        color: $white;
        font-weight: 400;
      }
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player {
    width: 60%;
    max-width: 400px;
    .current {
      .topText {
        color: $light-gray;
        font-weight: lighter;
        position: relative;
      }
      .top-bar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .info {
          h3 {
            font-size: 1.3em;
            color: $light-gray;
            font-weight: lighter;
          }
          .artists {
            font-size: 1em;
          }
        }

        .btn {
          font-size: 2em;
        }
        .btn:hover {
          color: $white;
        }
        .favo {
          color: $green;
        }
        .favo:hover {
          color: $white;
        }
      }
      .img-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        .top {
          width: 100%;
          height: 100%;
          background: radial-gradient(
            rgba(230, 100, 101, 0) 50%,
            rgb(255, 215, 0, 0.5)
          );
          opacity: 0.5;
          position: absolute;
          transition: 1s ease-in-out;
        }
        img {
          width: 100%;
        }
      }
    }
    .progressSlider {
      width: 100%;
      height: 10px;
      outline: none;
      -webkit-appearance: none;
      background: linear-gradient(90deg, #1db954 28%, #333333 28%);
    }

    .progressSlider::-webkit-slider-thumb {
      width: 20px;
      -webkit-appearance: none;
      height: 20px;
      background: $green;
      transition: 0.3s linear;
      border-radius: 10em;
    }

    .progressSlider::-webkit-slider-thumb:hover {
      background: $white;
      transition: 0.3s linear;
    }

    .progressbar {
      width: 100%;
      height: 5px;
      background-color: $gray;
      .progress {
        background-color: $green;
        width: 10%;
        transition: 1s linear;
        height: 100%;
      }
    }
    .button-wrapper {
      padding-top: 1.5em;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .playerButtons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .active {
        color: $green;
      }
      .active:hover {
        color: $white;
      }
    }
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $light-gray;
    font-size: 1.7em;
    transition: 0.3s ease;
    background: transparent;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10em;
  }

  .btn:hover {
    background: $green;
    color: $white;
  }

  .btn-a-green:hover {
    color: $green;
  }
  .volume {
    padding-top: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .device {
      color: $white;
    }
    .volumeSlider {
      background-color: $gray;
      -webkit-appearance: none;
      width: 50%;
      max-width: 150px;
      height: 10px;
      border-radius: 5px;
      outline: none;
      opacity: 0.7;
      -webkit-transition: opacity 0.15s ease-in-out;
    }
    .volumeSlider::-webkit-slider-thumb {
      width: 15px;
      -webkit-appearance: none;
      height: 15px;
      background: $white;
      transition: 1s linear;
      border-radius: 10em;
    }
  }
}
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}
body::-webkit-scrollbar {
  display: none;
}
@media screen and(max-width: 600px) {
  .home {
    .player {
      width: 90%;
    }
  }
}
